<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

    <logger name="ERROR_LOGGER" level="ERROR" additivity="false">
        <appender-ref ref="JSON_STDOUT"/>
    </logger>

    <!-- UserController 클래스에 대한 로거 -->
    <logger level="INFO"
            name="com.three.recipingbackofficeservicebe.recipe_management.controller.AdminRecipeController"
            additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

</configuration>