<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 테스트에서는 에러만 출력 -->
    <root level="ERROR"/>

    <!-- 콘솔 출력 설정 (에러만) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>